:root {
  --main-color: #55527C;
  --dark-color: #130F49;
  --yellow-color: #FF972D;
  --blue-color: #A5A6FF;
  --font-inter: 'Inter', sans-serif;
  --font-karla: 'Karla', sans-serif;
  --font-kristi: 'Kristi', cursive;
  --space-400: clamp(8rem, 1vw + 16px, 4rem);
}