* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--blue-1000);
}

body {
  font-family: 'Coda', sans-serif;
}

.container {
  margin-inline: auto;
}

:root {
  --radius-1: 1rem 1rem;
  --radius-2: 5px 5px;

  /* SHADOWS */
  --shw-1: 0px 1px 4px rgba(0, 0, 0, 0.15);
  
    /* COLORS */

    /* blue */
  --blue-50: #eaf6fe;
  --blue-100: #d5edfd;
  --blue-200: #aadafc;
  --blue-300: #80c8fa;
  --blue-400: #55b5f9;
  --blue-500: #2ba3f7;
  --blue-600: #2282c6;
  --blue-700: #1a6294;
  --blue-800: #114163;
  --blue-900: #092131;
  --blue-1000: #141F33;

  /*  red */
  --red-50: #ffe6e6;
  --red-100: #ffcccc;
  --red-200: #ff9999;
  --red-300: #ff6666;
  --red-400: #ff3333;
  --red-500: #ff0000;
  --red-600: #cc0000;
  --red-700: #990000;
  --red-800: #660000;
  --red-900: #330000;

  /* yellow */
  --yell-50: #fefde6;
  --yell-100: #fdfbcd;
  --yell-200: #fbf79c;
  --yell-300: #f9f46a;
  --yell-400: #f7f039;
  --yell-500: #f5ec07;
  --yell-600: #c4bd06;
  --yell-700: #938e04;
  --yell-800: #625e03;
  --yell-900: #312f01;

  /* green */
  --green-50: #e6fce7;
  --green-100: #cefacf;
  --green-200: #9cf49f;
  --green-300: #6bef6e;
  --green-400: #39e93e;
  --green-500: #08e40e;
  --green-600: #06b60b;
  --green-700: #058908;
  --green-800: #035b06;
  --green-900: #022e03;
}