* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Coda' , sans-serif;
}

.container {
  width: min(100% - 2rem, 95%); 
  margin-inline: auto;
}

:root {
  --radius-1: 0px 1px 4px rgba(0, 0, 0, 0.15);
  --shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.15);
}