* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Coda', sans-serif;
}

.container {
  width: min(100% - 2rem, 95%); 
  margin-inline: auto;
}

:root {
  --radius-1: 1rem 1rem;
  --radius-2: 5px 5px;

  /* SHADOWS */
  --shadow-1: 0px 1px 4px rgba(0, 0, 0, 0.15);
    /* COLORS BLUE */
  --blue-50: #eaf6fe;
  --blue-100: #d5edfd;
  --blue-200: #aadafc;
  --blue-300: #80c8fa;
  --blue-400: #55b5f9;
  --blue-500: #2ba3f7;
  --blue-600: #2282c6;
  --blue-700: #1a6294;
  --blue-800: #114163;
  --blue-900: #092131;
  --blue-1000: #141F33;

  /* COLORS RED */
  --brown-50: #fef3eb;
  --brown-100: #fce6d8;
  --brown-200: #f9cdb1;
  --brown-300: #f6b489;
  --brown-400: #f39b62;
  --brown-500: #f0823b;
  --brown-600: #c0682f;
  --brown-700: #904e23;
  --brown-800: #603418;
  --brown-900: #301a0c;
}