@import './variables.scss';

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: var(--bg-light-secondary);
  color: var(--color-gray-0);
}

.dark {
  background-color: var(--bg-dark-primary);
  color: var(--text-color-light);
}

.light .base-container {
  width: clamp(100px, 90%, 1102px);
  margin-inline: auto;
}

.dark .base-container {
  width: clamp(100px, 90%, 1102px);
  margin-inline: auto;
}

.router-link-active {
  color: var(--text-color-red-0) !important;
}