:root {
  /* TEXT */
  --text-color-dark: #000;
  --text-color-light: #fff;
  --text-color-active: #77EE77;

  /* BACKGROUND */
  --bg-dark-primary: rgba(2, 0, 36, 1);
  --bg-dark-secondary: #060648;
  --bg-light-primary: #fff;
  --bg-light-secondary: #FAFAFA;
  --color-gray-0: #060648;

  /* BORDER */
  --border-color-light: #474545;
}