:root {
  /* TEXT */
  --text-color-dark: #000;
  --text-color-light: #fff;
  --text-color-active: #77EE77;

  /* BACKGROUND */
  --bg-dark-primary: #000;
  --bg-dark-secondary: #18181C;
  --bg-light-primary: #fff;
  --bg-light-secondary: #FAFAFA;
  --color-gray-0: #7E7E7E;

  /* BORDER */
  --border-color-light: #474545;
}