:root {
  /* TEXT */
  --text-color-dark: #000;
  --text-color-light: #fff;
  --text-color-active: #77EE77;

  /* RED */
  --text-color-red-0: rgb(248, 55, 87);
  --text-color-red-1: rgba(248, 55, 87, 0.244);

  /* YELLOW */
  --text-color-yellow-0: rgb(223, 241, 27);

  /* BACKGROUND */
  --bg-dark-primary: rgba(2, 0, 36, 1);
  --bg-dark-secondary: #060648;
  --bg-dark-secondary-0: #2f2f9b;
  --bg-light-primary: #fff;
  --bg-light-secondary: #FAFAFA;
  --color-gray-0: #060648;

  /* BORDER */
  --border-color-light: #474545;
  --space-400: clamp(8rem, 1vw + 16px, 4rem);
}